
.header {
  position: relative;

  &_left-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0;
    width: calc((100% - 970px) / 2);
    display: none;

    img {
      display: block;
      margin: 0 auto;
    }
    @media(min-width: 768px) {
      display: block;
    }
  }

  &_right-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin: 0;
    width: calc((100% - 970px) / 2);
    display: none;
    @media(min-width: 768px) {
      display: block;
    }
  }

  &_btn-group {
    display: flex;
    flex-direction: row;
    .button_primary {
      @media(min-width: 768px) {
        margin-right: 20px;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  &_logo {

  }

  &_logo-img {
  }

  &_title {
    margin-bottom: 60px;
    margin-top: 40px;
  }

}